version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: messenger_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: qwerty
      POSTGRES_DB: messenger_db
    ports:
      - "5433:5432"  # Используем другой порт (5433 вместо 5432)
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data: